// Grid
$breakpoints: 'xs', 'sm', 'md', 'lg', 'xl' !default;
$sidebar-breakpoint: 'lg' !default;
$header-breakpoints: (
  'sidebar': 'xl',
  'top': 'xl'
) !default;

// Header Navigation
$header-theme:             '.navbar-dark, .bg-dark' !default;
$header-fixed-top-height:  58px !default;
$header-sidebar-width:     200px !default;
$header-sidebar-md-width:  320px !default;
$header-icon-size:         20px !default;
$header-icon-offset:       0.5rem !default;
$header-icon-color:        $navbar-dark-color !default;
$header-icon-hover-color:  $navbar-dark-hover-color !default;
$header-icon-active-color: $navbar-dark-active-color !default;
$header-menu-badge-theme:  '.badge, .badge-light' !default;
$header-logo-size:         32px !default;

// TitleBar
$titlebar-theme:     '.navbar-light, .bg-light' !default;
$titlebar-height:    56px !default;
$titlebar-fixed:     false !default;
$action-items-theme: '.btn, .btn-secondary' !default;

// Sidebar
$sidebar-fixed:         false !default;
$sidebar-width:         320px !default;
$sidebar-theme:         '.bg-white' !default;
$sidebar-header-height: $titlebar-height !default;
$sidebar-header-theme:  $titlebar-theme !default;

// Table Tools
$table-tools-btn-theme:          '.btn, .btn-sm' !default;
$table-tools-btn-inactive-theme: '.btn-light' !default;
$table-tools-btn-active-theme:   '.btn-primary' !default;
$scope-count-theme:              '.badge, .badge-light' !default;

// Table
$table-for-theme:            '.table-sm, .text-nowrap, .align-middle' !default;
$table-for-btn-theme:        '.btn, .btn-sm, .btn-light' !default;
$table-for-selected-color:   $table-hover-bg !default;

// Attributes Table
$attributes-table-empty-color: $text-muted !default;
$attribute-table-key-width: 30% !default;
$attributes-table-value-align: left !default;

// Tabs
$tab-theme: '.nav, .nav-tabs' !default;

// FORM
$form-cancel-theme: '.btn, .btn-link' !default;
$form-submit-theme: '.btn, .btn-primary' !default;

// FLASH
$flash-theme: '.rounded-0' !default;

// Blank Slate
$blank-slate-theme: '.text-center' !default;

// Status Tag
$status-tag-theme: '.badge, .badge-light' !default;
$status-tag-success: '.badge-success' !default;
$status-tag-error:   '.badge-danger' !default;

// Containers
$wrapper-container: '.container-fluid' !default;
$content-container: '.container, .px-0' !default;

// Footer
$footer-theme: '.text-center, .small' !default;

// Icon
$icon-size: 16px !default;

// Thumbnails
$thumbnail-xs: 24px !default;
$thumbnail-sm: 38px !default;
$thumbnail-md: 64px !default;
$thumbnail-lg: 128px !default;
$thumbnail-sizes: (
  'xs': $thumbnail-xs,
  'sm': $thumbnail-sm,
  'md': $thumbnail-md,
  'lg': $thumbnail-lg,
) !default;
