<div id="fullCalendar"></div>

<script>
	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'es',
      themeSystem: 'bootstrap4',
      weekNumbers: true,
      eventLimit: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      eventRender: function(event, element){
        if(event.popover) {
          element.popover({
            animation:true,
            delay: 300,
            html: true,
            title: event.popover.title,
            content: event.popover.content,
            trigger: 'hover'
          });
        }
      },
      events: <%= events.to_json.html_safe %>
    };
    $('#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>