.sidebar-header {
  @extend #{$sidebar-header-theme};
  justify-content: flex-end;
  height: $sidebar-header-height;
  @include media-breakpoint-up($sidebar-breakpoint) {  display: none; }
}

#sidebar-content {
  @extend #{$sidebar-theme};

  width: 100%;
  padding-right: calc(#{$grid-gutter-width} / 2);
  padding-left: calc(#{$grid-gutter-width} / 2);
  @include media-breakpoint-up($sidebar-breakpoint) { width: $sidebar-width; }
}
