.btn {
  text-transform: $btn-text-transform;
  white-space: nowrap;
  &.btn-link { font-weight: $btn-font-weight; }

  @if $btn-shadow-enabled {
    border: 0;
    @include shadow($btn-shadow);
  }
}

@each $_key, $_color in $theme-colors {
  .btn.btn-link-#{$_key} {
    color: $_color;

    &:hover { background: $component-hover-bg; }
    &:active { background: $component-active-bg; }
    &:focus { @include shadow(none); }
  }
}

@keyframes btn-fab-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}
@-webkit-keyframes btn-fab-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}

.btn-fab {
  $_size: $btn-fab-size;
  width: $_size;
  height: $_size;
  padding: 0;
  line-height: calc(#{$_size} - 2 * #{$btn-border-width});
  text-align: center;
  border-radius: calc(#{$_size} / 2);
  @include animation(btn-fab-animation 0.4s);

  &.btn-sm {
    $_size: $btn-fab-size-sm;
    width: $_size;
    height: $_size;
    line-height: calc(#{$_size} - 2 * #{$btn-border-width});
    border-radius: calc(#{$_size} / 2);
  }

  @if $btn-fab-shadow-enabled {
    @include shadow($btn-fab-shadow);
  }
}
